<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Official NuGet Gallery" value="https://www.nuget.org/api/v2/" />
    <add key="MARS Package Source" value="https://nexus.informatik.haw-hamburg.de/repository/nuget-group/" />
  </packageSources>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
</configuration>
